body {
    background: #d0f4ea;
    margin: 2em;
    color: #487542;
}
.center{
    text-align: center;
}
.title-main {
    color: white;
    background: #7ED071;
    font-size: 4em;
}

.subtitle {
    font-size: 1.5em;
    color: white;
    background: #9e2b25;
}
.column {
    text-align: center;
}


.yellow {
    color: #ffc145;
}
.button-yellow {
    background-color: #ffc145;
    border-color: #ffc145;
}
.button-yellow.button-clear,
.button-yellow.button-outline {
    background-color: transparent;
    color: #ffc145;
}
.button-yellow.button-clear {
    border-color: transparent;
}

.blue{
    color: #048ba8;
}
.button-blue {
    background-color: #048ba8;
    border-color: #048ba8;
}
.button-blue.button-clear,
.button-blue.button-outline {
    background-color: transparent;
    color: #048ba8;
}
.button-blue.button-clear {
    border-color: transparent;
}

.red{
    color:#9e2b25;
}
.button-red {
    background-color: #9e2b25;
    border-color: #9e2b25;
}
.button-red.button-clear,
.button-red.button-outline {
    background-color: transparent;
    color: #9e2b25;
}
.button-red.button-clear {
    border-color: transparent;
}

.green{
    color:#7ED071;
}
.button-green {
    background-color: #7ED071;
    border-color: #487542;
}
.button-green.button-clear,
.button-green.button-outline {
    background-color: transparent;
    color: #487542;
}
.button-green.button-clear {
    border-color: transparent;
}

.flexbox{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.flexitem {
    flex: 1 1 auto;
}